{% extends "base.html" %}

{% block content %}

<h3 class="text-center">Detalles de Factura {{ factura.id }}</h3>
<div>
    <h4>Información del Cliente</h4>
    <p><strong>Nombre:</strong> {{ factura.cliente.nombre }}</p>
    <p><strong>NIT:</strong> {{ factura.cliente.nit }}</p>
    <p><strong>Teléfono:</strong> {{ factura.cliente.telefono }}</p>
    <p><strong>Dirección:</strong> {{ factura.cliente.direccion }}</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in detalles_factura %}
        <tr>
            <td>{{ detalle.producto.nombre }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>{{ detalle.producto.descripcion }}</td>
            <td>{{ detalle.precio_unitario }}</td>
            <td>{{ detalle.subtotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
